In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import pickle

In [26]:
df = pd.read_csv('Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [ ]:
#  type, generasi & legend

In [6]:
df = df.dropna()
df.isnull().sum()

#             0
Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [27]:
df = df[['Name','Type 1','Generation','Legendary']]
df

                      Name   Type 1  Generation  Legendary
0                Bulbasaur    Grass           1      False
1                  Ivysaur    Grass           1      False
2                 Venusaur    Grass           1      False
3    VenusaurMega Venusaur    Grass           1      False
4               Charmander     Fire           1      False
..                     ...      ...         ...        ...
795                Diancie     Rock           6       True
796    DiancieMega Diancie     Rock           6       True
797    HoopaHoopa Confined  Psychic           6       True
798     HoopaHoopa Unbound  Psychic           6       True
799              Volcanion     Fire           6       True

[800 rows x 4 columns]

In [7]:

# mgenre = ext.fit_transform(df['Type 1'])
# print(ext.get_feature_names())
# print(len(ext.get_feature_names()))

['bug', 'dark', 'dragon', 'electric', 'fairy', 'fighting', 'fire', 'flying', 'ghost', 'grass', 'ground', 'ice', 'normal', 'poison', 'psychic', 'rock', 'steel', 'water']
18

In [28]:
df['poke'] = df['Type 1'] + 'space' + df['Generation'].apply(str) + 'space' + df['Legendary'].apply(str)
df

,Name,Type 1,Generation,Legendary,poke
0,Bulbasaur,Grass,1,False,Grassspace1spaceFalse
1,Ivysaur,Grass,1,False,Grassspace1spaceFalse
2,Venusaur,Grass,1,False,Grassspace1spaceFalse
3,VenusaurMega Venusaur,Grass,1,False,Grassspace1spaceFalse
4,Charmander,Fire,1,False,Firespace1spaceFalse
...,...,...,...,...,...
795,Diancie,Rock,6,True,Rockspace6spaceTrue
796,DiancieMega Diancie,Rock,6,True,Rockspace6spaceTrue
797,HoopaHoopa Confined,Psychic,6,True,Psychicspace6spaceTrue
798,HoopaHoopa Unbound,Psychic,6,True,Psychicspace6spaceTrue
799,Volcanion,Fire,6,True,Firespace6spaceTrue

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
ext = CountVectorizer(tokenizer = lambda x: x.split('space'), analyzer='word')

In [30]:
matrix = ext.fit_transform(df['poke'])
pokemon = ext.get_feature_names()
countpokemon = len(pokemon)
dfmx = matrix.toarray()
print(pokemon)
print(countpokemon)
dfmx

['1', '2', '3', '4', '5', '6', 'bug', 'dark', 'dragon', 'electric', 'fairy', 'false', 'fighting', 'fire', 'flying', 'ghost', 'grass', 'ground', 'ice', 'normal', 'poison', 'psychic', 'rock', 'steel', 'true', 'water']
26

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0]], dtype=int64)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
score = cosine_similarity(matrix)
score

array([[1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.66666667],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.66666667],
       [0.        , 0.        , 0.        , ..., 0.66666667, 0.66666667,
        1.        ]])

In [35]:
like = 'Bulbasaur'
likeIndex = df[df['Name'] == like].index[0]
likeIndex

0

In [38]:
allPokemon = list(enumerate(score[likeIndex]))
# allPokemon

In [40]:
similarPokemon = []
for i in range(len(allPokemon)):
    if int(allPokemon[i][0]) != int(likeIndex):
        similarPokemon = (sorted(allPokemon,key = lambda x: x[1],reverse = True))

In [41]:
listrecommend = []
for i in range(len(similarPokemon)):
    if int(similarPokemon[i][0]) != int(likeIndex):
        listrecommend.append(similarPokemon[i])
        
listrecommend[:6]

[(1, 1.0000000000000002),
 (2, 1.0000000000000002),
 (3, 1.0000000000000002),
 (48, 1.0000000000000002),
 (49, 1.0000000000000002),
 (50, 1.0000000000000002)]

In [47]:
pkl_filename = "pokemon_model.pkl"
with open(pkl_filename,'wb') as file:
    pickle.dump(score,file)